body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 241, 241);
}
#calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(37, 37, 37);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 20px 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(133, 131, 131);
  color: white;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: rgb(97, 95, 95);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: rgb(50, 48, 48);
}
button:active {
  background-color: rgb(55, 54, 54);
}
.operator-btn {
  background-color: orange;
}
.operator-btn:hover {
  background-color: rgb(186, 123, 7);
}
.operator-btn:active {
  background-color: rgb(165, 110, 6);
}
